@{
    ViewData["Title"] = "Home Page";
}

@model Ninja

<div class="text-center border border-dark border-3 p-5 m-5">
    <form action="survey" method="post">
        <div class="d-flex justify-content-between mb-2">
            <label asp-for="Name">
                <h4>Your Name: </h4>
            </label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="text" asp-for="Name">
        </div>
        <div class="d-flex justify-content-between mb-2">
            <label asp-for="Location">
                <h4>Dojo Location: </h4>
            </label>
            <select asp-for="Location">
                <option value="San Jose">San Jose</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <label asp-for="FavoriteLanguage">
                <h4>Dojo Location: </h4>
            </label>
            <select asp-for="FavoriteLanguage">
                <option value="C#">C #</option>
                <option value="Just C#">You know the only real choice is C#</option>
            </select>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <label asp-for="Comment">
                <h4>Comment (optional): </h4>
            </label>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div>
            <textarea class="form-control" asp-for="Comment" cols="30" rows="6"></textarea>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
